Source: calcfiles
Version: 1.0.0
Section: utils
Priority: optional
Maintainer: Sofiia Kozachenko <sofakozachenko2004@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/sofiia31/os_labs
Package: calcfiles
Architecture: all
Depends: bash
Description: Script to calculate files in a directory